body {
    margin: 0;
    font-family: sans-serif;
}

#mainContainer {
    background: #000;
}

header {
    width: 1200px;
    position: relative;
    margin: auto;
    text-align: center;
}

header img {
    width: 200px;
}

#message {
    font-weight: bold;
    color: #EF6C00;
}

main {
    background: #000;
    width: 1200px;
    margin: auto;
    padding: 45px 0;
}

main::after {
    content: "";
    display: block;
    clear: both;
}

footer {
    width: 1200px;
    position: relative;
    margin: auto;
}

#logIn {
    position: absolute;
    right: 0;
    top: 5px;
}

#usernameSection, #passwordSection {
    width: 190px;
    float: left;
}

.logInMessage {
    color: red;
    text-align: left;
}

input {
    outline: none;
    margin-bottom: 5px;
    padding: 8px;
    background: #eee;
    border: 1px solid #ddd;
    border-radius: 3%;
}

#description-left {
    color: #EF6C00;
    float: left;
    width: 300px;
    font-size: 30px;
    word-spacing: 15px;
    line-height: 40px;
    padding: 65px 50px;
}

#galerie {
    width: 400px;
    height: 300px;
    border: 1px solid black;
    float: left;
    position: relative;
    overflow: hidden;
}

#galerie img {
    width: 400px;
    position: absolute;
    left: -400px;
}

#galerie img:first-child {
    left: 0
}

ul {
    list-style: none;
}

#menuToggle {
    display: none
}

#menuContainer {
    width: 250px;
    position: absolute;
}

ul {
    transition: all .75s;
    height: 0;
    overflow: hidden;
    width: 250px;
    margin: 0px;
    margin-left: 30px;
    padding: 0;
}

li, label div {
    width: 150px;
    height: 40px;
    background: #EF6C00;
    color: #fff;
    margin-bottom: 1px;
    padding: 9px 49px;
    border: 1px solid #EF6C00;
    text-align: center;
    line-height: 40px;
}

input:checked + ul {
    height: 244px;
}

label {
    text-align: left;
  
}

label div {
    margin-top: 70px;
    margin-left: 30px;
}

.social-link {
    float: right;
    padding: 5 8px;
}

a {
    text-decoration: none;
    color: #EF6C00;
   
}